*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: sans-serif;

}
.nav1{
    background-color: antiquewhite;
    display: flex;
}
.navleft{
    background-color: rgb(200, 161, 236);

}
.navright{
    background-color: rgb(102, 99, 99);
    display: flex;
}

/* nav3.................................................................... */
.nav3{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
      justify-content: center;
    border-bottom: 1px solid #EDEDED;
    /* background-color: yellow; */
    margin-top: 40px;
    margin-bottom: 30px;
}
.nav3-container{
    /* background-color: purple; */
    width: 90%;
    height: 5.5vh;
     display: flex;
    gap: 20px;
}
.nav3-selector{
    /* width: 12%; */
    height: 5.5vh;
    background-color: #F3F9FB;
    border-radius: 18px;
    padding: 9px 14px 9px 14px;
}
/* .nav3-selector:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #008ECC;
} */
.nav3-para{
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.nav3-selector:hover{
    cursor: pointer;
    /* color: #ffffff; */
    background-color: #008ECC;
}
.nav3-para:hover{
    color: white;
}















/* card */
.card-sec1{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.card1{
    width: 227px;
    height: 295px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid #e9e7e7;
}
.card1-img{
    width: 100%;
    height: 185px;
    border-radius: 16px 16px 0px 0px;
background-color: #F5F5F5;
}
.card1-image{
    width: 200px;
    height: 160px;
}
.card1-text{
    padding: 15px;
}
h2{
font-weight: 200;
font-size: 20px;
font-family: sans-serif;
}
h3{
    font-weight: 700;
}
h4{
    font-weight: 300;
}
/* .card2{
    width: 227px;
    height: 295px;
    gap: 20px;
    background-color: aqua;
}
.card3{
    width: 227px;
    height: 295px;
     gap: 20px; 
    background-color: aqua;
}
.card4{
    width: 227px;
    height: 295px;
    gap: 20px;
    background-color: aqua;
}
.card5{
    width: 227px;
    height: 295px;
    gap: 20px;
    background-color: aqua;
} */

.card-sec2{
    margin-top: 80px;
    width: 100%;
    height: 50vh;
    /* background-color: rgb(110, 110, 226); */
display: flex;
gap: 45px;
justify-content: center;
}
.card2{
    margin-top: 30px;
    width: 132px;
    height: 172px;
    /* background-color: bisque; */
    background-color: white;
    

}
.card2-img{
    width: 132px;
    height: 130px;
background-color: #F5F5F5;
/* background-color: ; */
    border-radius: 50%;
    border: 1px solid #e9e7e7;
overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card2-image{
    width: 90%;
    height: 85%;
}
.card2-head{
    font-weight: 200;
    font-size: 15px;
padding: 10px 30px 10px 30px;

}

/* sec3 */
.card-sec3{
    margin-top: 80px;
    width: 100%;
    height: 50vh;
    /* background-color: rgb(110, 226, 129); */
display: flex;
gap: 20px;
justify-content: center;
}
.card3{
    width: 389px;
    height: 207px;
    /* background-color: rgb(235, 235, 118); */
    display: flex;
}
.card3-img{
    width: 400px;
    /* background-color: aqua; */
    height: 206px;
}
.card3-image{
    width: 100%;
    height: 100%;
}

/* card4 */

.card-sec4{
    margin-top: 80px;
    width: 100%;
    height: 50vh;
    /* background-color: rgb(110, 193, 226); */
display: flex;
gap: 20px;
justify-content: center;
}
.card4{
    margin-top: 20px;
    width: 187px;
    height: 250px;
    /* background-color: bisque; */
}
.card4-img{
    width: 187px;
    height: 187px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #e9e7e7;

background-color: #F5F5F5;
/* box-shadow: 20px 20px 2px solid rgb(2, 2, 2); */
}
.card4-image{
    width: 200px;
    height: 100%;
}
.card4-text{
    padding: 10px 20px 10px 50px;
}







/* #F5F5F5 */
/* #249B3E */